body{
  background-color: #927df1;
}

.container{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-box{
display: flex;
align-items: center;
gap: 50px;
}

.prev, .next{
  height: 100px;
  cursor: pointer;
}

.next{
  transform: rotate(180deg);
}

.frames{
  width: 600px;
  height: 400px;
  overflow: hidden;
}

.slider{
  display: flex;
  transition: all 1s ease;
}

.image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
